.header2 {
  font-family: MADE Sunflower;
}
.mono {
  font-family: Rubik Mono One;
}
.sans {
  font-family: Sora;
}
.navbarstyle {
  background-color: #41b3a3;
}
.navs {
  color: white;
}
body {
  background-color: #e27d5f;
}
.containerindex {
  background-color: #e8a87c;
}