.header2 {
  font-family: MADE Sunflower;
}
.mono {
  font-family: Rubik Mono One;
}
.title {
  font-family: Rubik Mono One;
  color: white;
  text-shadow: 3px 3px 2px  #7c3939;
}
.desccontent {
  font-family: 'Sora';
  color: #441b1b;;
  font-weight: 550;
}
.descindex {
  font-family: 'Sora';
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px 2px  #7c3939;
}
.sans {
  font-family: Sora;
}
.navbarstylehome {
  background-color: #00A19D;
}
.navbarstyletopic {
  background-color: #e27e5e;
}
.navs {
  color: white;
}
.bodyhome {
  background-color: #FFF8E5;
}
.bodytopic {
  background-color:#f0e68c;
}
.content {
  background-color:  #7dc2ad;
}
.containerindex {
  background-color: #E05D5D;
}
.containertopic {
  background-color: #FFB344;
}
.titletopic {
  font-family: Rubik Mono One;
  color: black;
}
.desctopic {
  font-family: 'Sora';
  font-size: 20px;
  color: black;
}
.headertopic {
  font-family: MADE Sunflower;
  color: white;
  text-shadow: 3px 3px 2px  #7c3939;;
}
.headercontent {
  font-family: Sora;
  color: white;
  text-shadow: 3px 3px 2px  #7c3939;;
  font-weight: 900;
}